<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Ejemplo de entrada de datos con Flask</h1>
    <form class="form", method="post">
        <label for="entry" class="form_label">Nombre</label>
        <input type="text" name="contenido" id="entry"> <!--type= text porque lo que va a conteneder es texto-->
        <button type="submit" class="form_submit">Enviar</button> <!--type=submit va es decir que nos va a renviar algo-->

        <p>Entonces desde flask nos va a reenviar lo que capturo del input del formulario:</p><br>
        <p>¡hola! {{v}}</p>
        
    </form> <!--post porque va ingresar un informacion que va ser el nombre-->

    <p>Ahora a traves de una Lista que esta Guardando datos Vamos visualizar todos los datos guardado</p>

    <ul> <!--aqui vamos a mostrar los datos que tenemos guardados en memoria arrays y mostrarlos cada vez que ingresen uno nuevo-->
        {% for ver in arrays%}

          {%if ver != "" %}

           <li>Dato: {{ver}}</li>

          {% else %}

            <p>No Ingreso un Dato lo dejo como Vacio</p>
            
        {% endif  %}
        {% endfor %}
    </ul>
    
</body>
</html>