<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera Pagina</title>
</head>
<body>
    <h1>Primera pagina de html en Flask </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi iste, quasi enim porro maxime explicabo? Accusamus, at! Soluta dolore temporibus saepe accusamus nostrum laboriosam ipsa aspernatur veritatis molestiae. Iure, exercitationem.</p>
 
</body>
</html>